<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-dw-qualtrics-survey-integration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/748d80ba-33da-498d-bdaf-ca16c8d363ff/resourceGroups/func-dw-qualtrics-survey-integration_group/providers/Microsoft.Web/sites/func-dw-qualtrics-survey-integration</ResourceId>
    <UserName>$func-dw-qualtrics-survey-integration</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-dw-qualtrics-survey-integration.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>